<fieldset>
  <form #gymForm="ngForm" [formGroup]="myForm" (submit)="onSubmit()">
    <h1>Gym Membership Form</h1>
    <div>
      <label for="name">Name</label><br>
      <input type="text" id="name" formControlName="name"><br><br>
    </div>

    <div>
      <label for="email">Email</label><br>
      <input type="text" id="email" formControlName="email"><br><br>
    </div>

    <div>
      <input type="radio" formControlName="gender" value="male"> male
      <input type="radio" formControlName="gender" value="female"> female
      <input type="radio" formControlName="gender" value="n/a"> prefer not to say
      <div class="error">
        <p>Please choose your gender!</p>
      </div>
    </div>

    <div>
      <h2>Add favorite exercise</h2>
      <button (click)="addExercise()" type="button">Add exercise</button>
    </div>
    <br>

    <div formArrayName="exercises">
      <div *ngFor="let control of exercises.controls; let i = index" [formGroupName]="i">
        <input type="text" formControlName="name">
        <select name="levelSelect" formControlName="level">
          <option value="" disabled selected>Select a level</option>
          <option *ngFor="let level of levels" [value]="level">{{ level }}</option>
        </select>
        <button (click)="removeExercise(i)">Delete</button>
      </div>
    </div>

    <br>
    <button type="submit" [disabled]="gymForm.invalid">Submit</button>

  </form>


</fieldset>
